<!-- Est-ce que je crée un composant?
ici on veut créer un formulaire
!!! Est-ce que je vais réutiliser ce formulaire? OUI > composant
-->
<!-- <app-form-order></app-form-order> et on va le réutiliser dans Edit-->

<!-- Où créer ce composant ???
propre à un module? ou partagé dans plusieurs modules?
On ne porra pas le réutiliser dans Clients car ce sont pas les memes inputs.
Block ui (un composant)

Dans Pages? Non, car cela ne correspond pas à une route.
Donc, je créé un dossier components, et on place le form dedans.

dans le module où je me trouve (Orders), est-ce que j'ai accès au composant? OUI
-->
<app-form-order></app-form-order>
